@{
    ViewBag.Title = "Home Page";
    var emptyList = new List<SelectListItem>();
    var variants = (List<SelectListItem>) ViewBag.Variants ?? emptyList;
}

@model Lab1.Web.Models.InputViewModel
<div class="row m-md">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Input type: ")
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.InputType, true)
                                Variants
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.InputType, false)
                                Manual input
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Variant)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Variant, variants)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.ManualInput.A)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ManualInput.A)
                    </div>
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.ManualInput.C)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ManualInput.C)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.ManualInput.M)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ManualInput.M)
                    </div>
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.ManualInput.X0)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.ManualInput.X0)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.OutputSize)
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OutputSize)
                    </div>
                </div>

                <div class="row">
                    <button class="col-md-offset-4 col-md-4">OK</button>
                </div>

            </div>

            <div class="col-md-6">
                @Html.TextArea("outputScreen", new { @id = "outputScreen" })
            </div>
        </div>
    </div>
</div>