@{
    ViewBag.Title = "Home Page";
}
@model Lab3.Web.Models.InputVewModel

<form id="inputForm" class="m-t-md">
    <div class="row">
        <div class="col-md-12">
            @Html.Label("Input type: ")
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(m => m.IsManualInput, true)
                    Manual input
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(m => m.IsManualInput, false)
                    Load file
                </label>
            </div>
        </div>
    </div>

    <div class="row @(Model.IsManualInput ? "" : "display-hide")" id="manualInputRow">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.InputText)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.InputText)
                </div>
            </div>
        </div>
    </div>

    <div class="row @(Model.IsManualInput ? "display-hide" : "")" id="filelInputRow">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.FileInputPath)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.FileInputPath, new { @type = "file" })
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        @Html.Label(" ", new { @id = "output" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" id="submitButton">Get Hash</button>
    </div>
</div>